# Postgresql db container configuration
POSTGRES_DB=keycloak
POSTGRES_USER=impress
POSTGRES_PASSWORD=pass

# App database configuration
POSTGRESQL_ADDON_HOST=kc_postgresql
POSTGRESQL_ADDON_DB=keycloak
POSTGRESQL_ADDON_USER=impress
POSTGRESQL_ADDON_PASSWORD=pass
POSTGRESQL_ADDON_PORT=5433