# Postgresql db container configuration
POSTGRES_DB=impress
POSTGRES_USER=dinum
POSTGRES_PASSWORD=pass

# App database configuration
POSTGRESQL_ADDON_HOST=postgresql
POSTGRESQL_ADDON_DB=impress
POSTGRESQL_ADDON_USER=dinum
POSTGRESQL_ADDON_PASSWORD=pass
POSTGRESQL_ADDON_PORT=5432